<div class="ui column eight wide middle aligned">
  {{#each cupTables}}
    <table class="ui selectable compact single line table">
      <thead class="title">
      <tr>
        <th colspan="2">{{name}}</th>
        <th class="center aligned">P</th>
        <th class="center aligned">W</th>
        <th class="center aligned">D</th>
        <th class="center aligned">L</th>
        <th class="center aligned">F</th>
        <th class="center aligned">A</th>
        <th class="center aligned">Pts</th>
      </tr>
      </thead>
      <tbody class="content">
      {{#each group}}
        <tr>
          <td>{{#if prize}} <div class="ui ribbon label">€{{prize}}</div>{{/if}}</td>
          <td class="right aligned">{{player_name}}</td>
          <td class="center aligned">{{tableEntry.played}}</td>
          <td class="center aligned">{{tableEntry.won}}</td>
          <td class="center aligned">{{tableEntry.drawn}}</td>
          <td class="center aligned">{{tableEntry.lost}}</td>
          <td class="center aligned">{{tableEntry.for}}</td>
          <td class="center aligned">{{tableEntry.against}}</td>
          <td class="center aligned">{{tableEntry.points}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
