<div class="column eight wide">
  {{#each cup}}
    <div class="ui medium header">Gameweek {{gameWeek}}</div>
    <table class="ui selectable compact table">
      {{#each events}}
        <thead>
        <tr>
          <th colspan="3">{{name}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each fixtures}}
          <tr>
            <td class="right aligned">{{team1.player_name}}</td>
            <td class="center aligned">{{#if score1}}{{score1}} - {{score2}}{{else}}v{{/if}}</td>
            <td class="left aligned">{{team2.player_name}}</td>
          </tr>
        {{/each}}
        </tbody>
      {{/each}}
    </table>
  {{/each}}
</div>
