{{#each players}}
  <div class="ui floated column">
    <table class="ui selectable compact table">
      <thead class="title">
      <tr>
        <th colspan="4">
          {{player_name}}{{#if chip}}<br>({{readableChip chip}}){{/if}}<br>
          <span class="ui sub header">
            Transfers: {{gameweekTransfers.length}} &nbsp;{{blankIfZero pointsHit}}
            <br>{{formation.d}}-{{formation.m}}-{{formation.f}}
            </span>
        </th>
        <th>{{liveWeekTotal}}</th>
      </tr>
      </thead>
      <tbody class="content">
      {{#each picks}}
        <tr>
          <td><img class="ui avatar image" src="{{image}}" height="auto" width="auto"></td>
          <td>{{numberToPosition playingPosition}}</td>
          <td>
            {{#if subOut}}<i class="red chevron circle down icon"></i>{{/if}}
            {{#if subIn}}<i class="green chevron circle up icon"></i>{{/if}}
          </td>
          <td>{{name}}
            {{#if is_captain}}  (c){{/if}}
            {{#if is_vice_captain}}  (v){{/if}}
          </td>
          <td>{{liveScore}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}
