<div class="ui grid">
  {{#each tables}}
    <div class="four wide column">
      <table class="ui selectable compact celled table">
        <thead>
        <tr>
          <th>{{month}}</th>
          <th>€{{prize}}</th>
        </tr>
        </thead>
        {{#each content}}
          <tbody>
          <tr>
            <td>{{name}}</td>
            <td>{{score}}</td>
          </tr>
          </tbody>
        {{/each}}
      </table>
    </div>
  {{/each}}
</div>

<!--<div class="ui grid">
    {{#each players}}
      <div class="three wide column">
        <table class="ui selectable compact celled table">
          <thead>
          <tr>
            <th>{{playerName}}</th>
          </tr>
          </thead>
          {{#each currentTeam}}
            <tbody>
            <tr>
              <td>{{name}}{{#if is_captain}}  (c){{/if}}{{#if is_vice_captain}}  (v){{/if}}</td>
            </tr>
            </tbody>
          {{/each}}
        </table>
      </div>
    {{/each}}
  </div>-->


