{{#if loading}}
  <div class="ui active dimmer" title="{{loading}}" id="loader">
    <div class="ui indeterminate text loader">Loading...</div>
  </div>
{{else}}
  <table class="ui sortable compact table">
    <thead class="title">
    <tr>
      <th>Player     </th>
      <th>Total      </th>
      <th>Apps       </th>
      <!--th>Performance</th-->
      <th>Minutes    </th>
      <th>Per 90 mins</th>
      <th>Median     </th>
      <th>Home       </th>
      <th>Away       </th>
      <th>Top 6      </th>
      <th>Bottom 14     </th>
      <th>Form     </th>
      <th>Value    </th>
    </tr>
    </thead>
    <tbody class="content">
    {{#each footballers}}
      <tr>
        <td><img class="ui avatar image" src="{{image}}" height="auto" width="auto" alt=""> {{web_name}}</td>
        <td>{{rating.total}}</td>
        <td>{{appearances}}</td>
        <!--td>{{rating.performance}}</td-->
        <td>{{minutes}}</td>
        <td>{{rating.per90mins}}</td>
        <td>{{rating.median}}</td>
        <td>{{rating.perHomeGame}}</td>
        <td>{{rating.perAwayGame}}</td>
        <td>{{rating.perTop6Game}}</td>
        <td>{{rating.perBottom14Game}}</td>
        <td>{{rating.form}}</td>
        <td>{{rating.value}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/if}}
<script>

</script>
